header
	display: flex
	background-color: rgba(0, 0, 0, 0.1)
	box-sizing: border-box
	padding: 20px
	justify-content: space-between
	align-items: center
	> h1
		margin: 0
	#paginator
		display: flex
		font-size: 14px
		span
			display: block
			&:first-child, &:last-child
				font-weight: bold
				color: #0079bf
				cursor: pointer
				&:hover
					text-decoration: underline
			&:first-child
				padding-right: 10px
			&:last-child
				padding-left: 10px
