$borderColor: #e5e6e9 #dfe0e4 #d0d1d5

.card
	box-sizing: border-box
	position: relative
	margin: 0
	transition: height 2s
	background-color: white
	border: 1px solid
	border-color: $borderColor
	border-radius: 3px
	padding: 20px 25px
	box-shadow: rgba(0,0,0,0.05) 2px 2px 4px

.loader
	text-align: center

main.card
	margin-top: 25px
	.element
		display: flex
		border-bottom: 1px solid rgba(0, 0, 0, 0.05)
		padding: 15px 0
		&:first-child
			padding-top: 0
		img
			width: 70px
			height: 70px
			object-fit: cover
			flex: 0 0 auto
			background-color: black
		.data
			flex-grow: 1
			margin-left: 20px
			h2
				margin: 0 0 8px
				font-size: 18px
