html, body
	margin: 0
	padding: 0
	-webkit-font-smoothing: antialiased
	min-height: 100vh
	min-width: 320px
	font-family: 'Open Sans',sans-serif
	#page
		max-width: 500
		margin: 0 auto

.sortBar
	margin-top: 20px
	select
		width: calc(50% - 5px)
		&:first-child
			margin-right: 5px
		&:last-child
			margin-left: 5px

@import _header.sass
@import _main.sass
